@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure DevOps</h1>
    <p>We will learn the new concepts of DevOps with Microsoft Azure and GitHub.</p>
</div>
